    <header id="navbar">
        <div id="navbar-container" class="boxed">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand">
                    <img src="../assest/img/logo.png" alt="Nifty Logo" class="brand-icon">
                    <div class="brand-title">
                        <span class="brand-text">Nifty</span>
                    </div>
                </a>
            </div>
            <div class="navbar-content clearfix">
                <ul class="nav navbar-top-links pull-left">
                    <li class="tgl-menu-btn">
                        <a class="mainnav-toggle" >
                            <i class="pli-view-list"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a  data-toggle="dropdown" class="dropdown-toggle">
                            <i class="pli-bell"></i>
                            <span class="badge badge-header badge-danger"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md">
                            <div class="pad-all bord-btm">
                                <p class="text-lg text-semibold mar-no">You have 9 notifications.</p>
                            </div>
                            <div class="nano scrollable">
                                <div class="nano-content">
                                    <ul class="head-list">
                                        <li class="bg-gray">
                                            <a class="media" >
                                                <div class="media-left">
                                                    <img class="img-circle img-sm" alt="Profile Picture"
                                                         src="../assest/img/av1.png">
                                                </div>
                                                <div class="media-body">
                                                    <div class="text-nowrap">Lucy sent you a message</div>
                                                    <small class="text-muted">30 minutes ago</small>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pad-all bord-top">
                                <a  class="btn-link text-dark box-block">
                                    <i class="fa fa-angle-right fa-lg pull-right"></i>Show All Notifications
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-top-links pull-right">
                    <li class="dropdown">
                        <a id="demo-lang-switch" class="lang-selector dropdown-toggle"  data-toggle="dropdown">
                                <span class="lang-selected">
                                    <img class="lang-flag" src="../assest/img/united-kingdom.png" alt="English">
                                </span>
                        </a>
                        <ul class="head-list dropdown-menu">
                            <li>
                                <a  class="active">
                                    <img class="lang-flag" src="../assest/img/united-kingdom.png" alt="English">
                                    <span class="lang-id">EN</span>
                                    <span class="lang-name">English</span>
                                </a>
                            </li>
                            <li>
                                <a >
                                    <img class="lang-flag" src="../assest/img/france.png" alt="France">
                                    <span class="lang-id">FR</span>
                                    <span class="lang-name">Fran&ccedil;ais</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="dropdown-user" class="dropdown">
                        <a  data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right">
                                    <img class="img-circle img-user media-object" src="../assest/img/av1.png"
                                         alt="Profile Picture">
                                </span>
                            <div class="username hidden-xs">John Doe</div>
                        </a>


                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">
                            <div class="pad-all bord-btm">
                                <p class="text-lg text-semibold mar-btm">750Gb of 1,000Gb Used</p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" style="width: 70%;">
                                        <span class="sr-only">70%</span>
                                    </div>
                                </div>
                            </div>

                            <ul class="head-list">
                                <li>
                                    <a >
                                        <i class="pli-male icon-lg icon-fw"></i> Profile
                                    </a>
                                </li>
                            </ul>
                            <div class="pad-all text-right">
                                <a href="pages-login.html" class="btn btn-primary">
                                    <i class="pli-unlock"></i> Logout
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="boxed">
        <div id="content-container">
            <div id="page-title">
                <h1 class="page-header text-overflow">Blank page</h1>

                <!--Searchbox-->
                <div class="searchbox">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
                            </span>
                    </div>
                </div>
            </div>
            <div id="page-content">
                <div ui-view="profile"></div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">

                        <!-- Status Form -->
                        <!--===================================================-->
                        <div class="panel">
                            <div class="panel-body">
                                <textarea class="form-control" ng-model="text" rows="2" placeholder="What are you thinking?"></textarea>
                                <div class="mar-top clearfix">
                                    <button ng-click="share()" class="btn btn-sm btn-primary pull-right" type="submit"><i
                                            class="fa fa-pencil fa-fw"></i> Share
                                    </button>
                                    <div class="fileUpload btn btn-trans btn-icon fa fa-camera add-tooltip">
                                        <input type="file" class="upload" ng-model="file" multiple base-sixty-four-input/>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media-block pad-all">
                                    <a class="media-left" >
                                        <img class="img-circle img-sm" alt="Profile Picture"
                                             src="../assest/img/av1.png"></a>
                                    <div class="media-body">
                                        <div class="mar-btm">
                                            <a  class="btn-link text-semibold media-heading box-inline">John
                                                Doe</a>
                                            <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - From
                                                Mobile - 11 min ago</p>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                        <img class="img-responsive thumbnail" src="../assest/img/img1.jpg" alt="Image">
                                        <div class="pad-ver">
                                            <span class="tag tag-sm"><i
                                                    class="fa fa-heart text-danger"></i> 250 Likes</span>
                                            <div class="btn-group">
                                                <a class="btn btn-sm btn-default btn-hover-success" ><i
                                                        class="fa fa-thumbs-up"></i></a>
                                                <a class="btn btn-sm btn-default btn-hover-danger" ><i
                                                        class="fa fa-thumbs-down"></i></a>
                                            </div>
                                            <a class="btn btn-sm btn-default btn-hover-primary" >Comment</a>
                                        </div>
                                        <hr>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav id="mainnav-container">
            <div id="mainnav">
                <div id="mainnav-shortcut"></div>
                <div id="mainnav-menu-wrap">
                    <div class="nano">
                        <div class="nano-content">
                            <ul id="mainnav-menu" class="list-group">
                                <li class="list-header">Navigation</li>
                                <li>
                                    <a href="index.html">
                                        <i class="psi-home"></i>
						                    <span class="menu-title">
												<strong>Dashboard</strong>
												<span class="label label-success pull-right">Top</span>
											</span>
                                    </a>
                                </li>
                                <li class="list-divider"></li>
                                <li class="list-header">Components</li>
                                <li>
                                    <a >
                                        <i class="psi-boot-2"></i>
						                    <span class="menu-title">
												Bootstrap
												<span class="pull-right label label-purple">UI</span>
											</span>
                                    </a>
                                    <ul class="collapse">
                                        <li><a href="ui-buttons.html">Buttons</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="mainnav-widget">
                                <div class="show-small">
                                    <a  data-toggle="menu-widget" data-target="#demo-wg-server">
                                        <i class="fa fa-desktop"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <footer id="footer">
        <div class="hide-fixed pull-right pad-rgt">Currently v2.4.1</div>
        <p class="pad-lft">&#0169; 2016 Your Company</p>
    </footer>
    <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>